STORE_URL=https://drixelsa.co.za
CARD_PAYMENTS_ENABLED=false
MAIL_FROM=Drixel SA <info@customer.drixelsa.co.za>
ORDER_ADMIN_EMAIL=drixelsa@gmail.com
DRIXEL_API_URL=
# Secrets are set with firebase functions:secrets:set, not stored in this file:
# RESEND_API_KEY, YOCO_SECRET_KEY, YOCO_WEBHOOK_SECRET, DRIXEL_SYNC_KEY
